#editor {
    width: auto;
    min-height: 400px;
    max-height: 812px;
    height: auto;
    font-size: 14px;
    flex-grow: 2;
    max-width: 925px;
    margin-left: 25px;
    margin-top: 10px;
}

#outZone {
    flex-grow: 2;
    max-width: 900px;
    margin-top: 10px;
    margin-left: 25px;
}

.showButton {
    background-color: #5F6FA3;
    width: 158px;
    height: 30px;
    margin: 5px;
    border: none;
    color: white;
}

.errorHighlight {
    position: absolute;
    z-index: 20;
    background-color: #F4B9B7;
}

.container {
    margin-left: 8px;
}

.output {
    background-color: white;
    min-height: 360px;
    height: auto;
    position: relative;
    /* border-right: 2px solid #5C5C5C; */
}

.run-b {
    width: 158px;
    height: 30px;
    border: none;
    color: white;
    background-color: #5F6FA3;
    margin-right: 30px;
    margin-top: 14px;
}

.default-box {
    min-height: 400px;
    height: auto;
    background-color: transparent;
    /* border-left: 2px solid #5C5C5C; */
}

.default-inner-box {
    /* border-bottom: 2px solid #5C5C5C; */
    /* border-right: 2px solid #5C5C5C; */
    /* border-top: 2px solid #5C5C5C; */
}

.default-waringbox {
    border-top: 2px solid #E7EAF9;
    position: absolute;
    background-color: white;
    display: none;
    bottom: 0;
    height: auto;
    width: 100%
}

.head-margin-1 {
    margin: 0;
    padding: 8px;
}


/* edit round 3 */

.main-color {
    background-color: #E4EBFE;
}

.head-box-color {
    background-color: #D9DFF7
}

.res-font {
    font-size: 16px;
}

.q-res-fonts {
    font-size: 14px;
}

.inner-container {
    padding: 12px
}


/* edit round 3 */

.main-c-color {
    background-color: #9A71D7;
}

.primary {
    color: black;
    font-size: 14px;
}

.warning-color {
    color: #FF9800;
}

.default-color {
    color: black;
}

.default-font {
    font-family: 'Sarabun', sans-serif;
}

.main-js-color {
    background-color: #CEAD1B;
}

button:hover {
    background-color: #354168
}

#flex-box1 {
    display: flex;
    flex-flow: row wrap;
    min-height: 400px;
}

@media only screen and (max-width: 1000px) {
    #flex-box1 {
        flex-flow: column wrap
    }
    .mark-box {
        display: none;
        position: absolute;
        width: 464px;
        height: 382px;
        background-color: transparent;
        left: 50%;
        top: 20%;
    }
    .res-font {
        font-size: 10px;
    }
    .q-res-fonts {
        font-size: 10px;
    }
}

.navbar {
    height: 60px;
    width: 100%;
    background-color: #E4EBFE
}

.mark-box {
    display: none;
    position: absolute;
    width: 464px;
    height: 382px;
    background-color: transparent;
    left: 10%;
    top: 40%;
    text-align: center;
}

html,
body {
    height: 100%;
    margin: 0;
    background-color: #141414;
}